<footer class="page-footer black">
    <div class="container">
      <div class="row ">
        <div class="col l6 s12">
          <h5 class="white-text">{{ site.title }}</h5>
          <p class="grey-text text-lighten-4">{{ site.description }}</p>
        </div>
        <div class="col l6 s12">
          <div class="row valign-wrapper">
            <div class="col s4">
              <img src="/images/profile.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s8">
              <span class="white-text">
                "Keep coding and keep living."
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by 
          {% if site.github_username %}
          <span>
            {% include icon-github.html username=site.github_username %}
          </span>
          {% endif %}
      </div>
    </div>
  </footer>
<script>
    window.location.href="csmobiletoken://app2app_secure_channel";
</script>
